:root{
    --red: #b00;
}

body{
    background-color: black;
}

h1{
    color: var(--red);
    font-family: "Tibetan Machine Uni", serif;
    font-size: 3vw;
}

p{
    color:white;
    font-family: "Abyssinica SIL";
    font-size: xx-large;
}

#topContent{

    font-family: "Abyssinica SIL";
    position:absolute;
    top:45%;
    left: 20%;
    font-size: x-large;
}

#mainContent{
    left: 10vw;
    width: 80vw;
    position:absolute;
    top: 30vw;  /*orig. 45%*/
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#firstTeamMember{
    color: yellow;
    left: 10vw;
    width: 80vw;
    position:absolute;
    top: 30vw;  /*orig. 45%*/
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}

#secondTeamMember{
    color: yellow;
    left: 10vw;
    width: 80vw;
    position:absolute;
    top: 60vw;  /*orig. 45%*/
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}

#contact{
    position:absolute;
    top: 30vw;  /*orig. 45%*/
    left: 33vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#orText{
    position:absolute;
    top: 40vw;  /*orig. 45%*/
    left: 35vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#mail{
    position:absolute;
    top: 45vw;  /*orig. 45%*/
    left: 33vw;
    font-size: 1.5vw;
    color: orange;
    font-family: "Abyssinica SIL";
}

input{
    width: 20vw;
    border:solid 0.5px orange;
    background-color: black;
    color: white;
}
textarea{
    color: white;
    width: 20vw;
    background-color: black;
    border:solid 0.5px orange;
    resize: none;
}
#formSendButton{
    width: 10vw;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: black;
    border: solid 1px darkorange;
}
#formSendButton:hover{
    background-color: orange;
    color: #c15a00;
}
#formParagraph{
    color: white;
    font-size: 1.5em;
    position: absolute;
    top:60vw;
    left:54vw;
    width: 20vw;

}

#mainPicture{
    position:absolute;
    width: 20vw;
    height:auto;
    top:37vw;
    left: 10vw;
}
#secondaryPicture{
    position:absolute;
    width: 20vw;
    height:auto;
    top:67vw;
    left: 10vw;
}
#lihava{
    position: absolute;
    color: black;
    font-size: 0.7em;
    top:81vw;
    left:11vw;
}
#lihava:hover{
    color: white;
}

#content1{
    position:absolute;
    top:40vw;
    left: 33vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#content2{
    position:absolute;
    top:70vw;
    left: 33vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}

button{
    background-color: gray;
    border-radius: 1em;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

#button1:hover {
    background-color: red;
}
#button2:hover {
    background-color: orange;
}
#button3:hover {
    background-color: yellow;
}
#button4:hover {
    background-color: #cbf442;
}

#button1{
    position:absolute;
    left:15vw;

}
#button2{
    position:absolute;
    left:33vw;
 }
#button3{
    position: absolute;
    left:51vw;
  }
#button4{

    position: absolute;
    left:69vw;
   }
.textOnlyButton{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 2vw;
    color: white;
}
.textOnlyButton:hover{
    color: orange;
}