:root{
    --red: #b00;
}

body{
    background-color: black;
}

h1{
    color: var(--red);
    font-family: "Tibetan Machine Uni", serif;
    font-size: 3vw;
}

p{
    color:white;
    font-family: "Abyssinica SIL";
    font-size: xx-large;
}

#topContent{

    font-family: "Abyssinica SIL";
    position:absolute;
    top:45%;
    left: 20%;
    font-size: x-large;
}

#mainContent{
    left: 10vw;
    width: 80vw;
    position:absolute;
    top: 30vw;  /*orig. 45%*/
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}

#secondTeamMemberName{
    left: 10vw;
    width: 80vw;
    position:absolute;
    top: 60vw;  /*orig. 45%*/
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}

#contact{
    position:absolute;
    top: 30vw;  /*orig. 45%*/
    left: 33vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#orText{
    position:absolute;
    top: 40vw;  /*orig. 45%*/
    left: 35vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#mail{
    position:absolute;
    top: 45vw;  /*orig. 45%*/
    left: 33vw;
    font-size: 1.5vw;
    color: wheat;
    font-family: "Abyssinica SIL";
}

input{
    width: 20vw;
}
#formSendButton{
    width: 10vw;
    border-radius: 1em;
    cursor: pointer;
}
#formSendButton:hover{
    background-color: wheat;
}

#mainPicture{
    position:absolute;
    width: 20vw;
    height:auto;
    top:37vw;
    left: 10vw;
}

#content1{
    position:absolute;
    top:40vw;
    left: 33vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}
#content2{
    position:absolute;
    top:70vw;
    left: 33vw;
    font-size: 2vw;
    font-family: "Abyssinica SIL";
}

button{
    background-color: gray;
    border-radius: 1em;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

#button1:hover {
    background-color: red;
}
#button2:hover {
    background-color: orange;
}
#button3:hover {
    background-color: yellow;
}
#button4:hover {
    background-color: greenyellow;
}

#button1{
    position:absolute;
    left:15vw;

}
#button2{
    position:absolute;
    left:33vw;
 }
#button3{
    position: absolute;
    left:51vw;
  }
#button4{

    position: absolute;
    left:69vw;
   }